@use "sass:map";
@import "../../styles/variables.scss";

.terminal {
  width: 100%;
  margin: 10px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: map.get($colors, "green");
  padding: 10px;
  overflow: hidden;
}

.mainSection {
  margin-top: 30px;

  .greetings {
    margin-bottom: 50px;
  }

  .loveItem {
    color: map.get($colors, "red");
    text-decoration: underline;
  }
}