@use "sass:map";
@import "../styles/variables.scss";

.main {
  display: flex;
  background-color: mediumslateblue;

  @media screen and (min-width: map.get($breakpoints, "full")) {
    width: map.get($breakpoints, "full");
  }
}