@use "sass:map";
@import "../styles/variables.scss";

.main {
  background-color: map.get($colors, "black");
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  @media screen and (orientation:portrait) {
    height: 100dvh;
    width: 100dvw;
  }
  @media screen and (orientation:landscape) {
    height: 100dvh;
    width: 100dvw;
  }
}
